In [1]:
import numpy as np
import pandas as pd
import os
df = pd.read_csv("numeric.csv")
df

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,-0.4394,4.0000,NaN,0.4620,0.6226,0.4704,0.3578,NaN,-0.1184,-0.2310,...,0.4102,0.2052,0.3846,0.3590,0.5898,0.3334,0.6410,0.5898,-0.4872,'1'
1,-0.4348,-0.1198,0.2474,0.4036,0.5026,0.6328,0.4948,0.0338,-0.0520,-0.1302,...,0.0000,0.2954,0.2046,0.4772,0.0454,0.2046,0.4318,0.4546,-0.0910,'1'
2,-0.2330,0.2124,NaN,0.5222,-0.3422,-0.5840,-0.7168,-0.6342,-0.8614,-0.8318,...,-0.1112,-0.0476,-0.1746,0.0318,-0.0476,0.1112,0.2540,0.1588,-0.4762,'2'
3,-0.3808,-0.0096,0.2602,0.2554,-0.4290,-0.6746,-0.6868,-0.6650,-0.8410,-0.9614,...,-0.0504,-0.0360,-0.1224,0.1366,0.2950,0.0792,-0.0072,0.0936,-0.1510,'2'
4,-0.3412,0.0946,0.6082,0.6216,-0.1622,NaN,-0.4324,-0.4358,-0.4966,-0.5406,...,0.1562,0.3124,0.2500,-0.0938,0.1562,0.3124,0.3124,0.2188,-0.2500,'3'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,-0.6842,-0.3280,-0.1984,0.2956,0.8786,0.8948,0.3118,0.1822,0.1012,0.1740,...,0.7738,0.7738,0.7142,0.6428,0.5952,0.5714,0.3928,0.4286,0.2858,'24'
7793,-0.5912,-0.2420,0.8174,1.0000,0.4642,0.6428,0.6944,0.3056,-0.3888,-0.6826,...,0.1924,-0.1154,0.0192,0.2116,-0.0384,0.0192,-0.2308,-0.4230,-0.7116,'25'
7794,-0.6696,-0.3730,0.1584,0.8910,1.0000,0.9762,0.9762,0.7684,0.4106,0.0154,...,0.0910,0.1818,0.2000,0.1454,0.0182,-0.2910,0.0728,0.0728,-0.5818,'25'
7795,-0.5764,-0.1764,0.5106,0.3742,-0.1670,-0.5858,-0.7882,-0.7224,-0.6330,-0.8212,...,0.4130,0.5870,0.4348,0.5652,0.3478,-0.0434,0.3044,-0.0434,-0.5000,'26'
7796,-0.6624,-0.3334,0.3666,0.4292,-0.2084,-0.5374,-0.4542,-0.6208,-0.6376,-0.5042,...,0.2520,0.2846,0.4146,0.3170,0.2520,-0.0244,-0.0894,-0.1708,-0.3170,'26'

In [2]:
import csv

# Function to check if a value is numeric
def is_numeric(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

# Initialize a dictionary to keep track of null values count for each column
null_counts = {}

# Read the CSV file
with open('numeric.csv', 'r') as file:
    reader = csv.reader(file)
    
    # Get the header
    header = next(reader)
    
    # Initialize the dictionary with column names and zero counts
    for column in header:
        null_counts[column] = 0
    
    # Iterate through each row in the CSV file
    for row in reader:
        for i, value in enumerate(row):
            # Check if the value is non-numeric or empty
            if not is_numeric(value):
                null_counts[header[i]] += 1

# Print the null values count for each column
for column, count in null_counts.items():
    if count>0:
        print(f"{column}: {count} null values")

f3: 1 null values
f5: 2 null values
f6: 2 null values
f8: 3 null values
class: 7797 null values

In [3]:
#filling missing vLUES WITH 0
def fill_missing_values(df, fill_value):
    for i in range(len(df)):  # Iterate over rows
        for j in range(len(df.columns)):  # Iterate over columns
            if pd.isnull(df.iloc[i, j]):  # Check if the value is missing
                df.iloc[i, j] = fill_value  # Fill missing value with fill_value

# Sample DataFrame
# df = your_dataframe_here

# Fill missing values with 0
fill_missing_values(df, 0)

# Print DataFrame after filling missing

In [4]:
df

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f609,f610,f611,f612,f613,f614,f615,f616,f617,class
0,-0.4394,4.0000,0.0000,0.4620,0.6226,0.4704,0.3578,0.0000,-0.1184,-0.2310,...,0.4102,0.2052,0.3846,0.3590,0.5898,0.3334,0.6410,0.5898,-0.4872,'1'
1,-0.4348,-0.1198,0.2474,0.4036,0.5026,0.6328,0.4948,0.0338,-0.0520,-0.1302,...,0.0000,0.2954,0.2046,0.4772,0.0454,0.2046,0.4318,0.4546,-0.0910,'1'
2,-0.2330,0.2124,0.0000,0.5222,-0.3422,-0.5840,-0.7168,-0.6342,-0.8614,-0.8318,...,-0.1112,-0.0476,-0.1746,0.0318,-0.0476,0.1112,0.2540,0.1588,-0.4762,'2'
3,-0.3808,-0.0096,0.2602,0.2554,-0.4290,-0.6746,-0.6868,-0.6650,-0.8410,-0.9614,...,-0.0504,-0.0360,-0.1224,0.1366,0.2950,0.0792,-0.0072,0.0936,-0.1510,'2'
4,-0.3412,0.0946,0.6082,0.6216,-0.1622,0.0000,-0.4324,-0.4358,-0.4966,-0.5406,...,0.1562,0.3124,0.2500,-0.0938,0.1562,0.3124,0.3124,0.2188,-0.2500,'3'
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7792,-0.6842,-0.3280,-0.1984,0.2956,0.8786,0.8948,0.3118,0.1822,0.1012,0.1740,...,0.7738,0.7738,0.7142,0.6428,0.5952,0.5714,0.3928,0.4286,0.2858,'24'
7793,-0.5912,-0.2420,0.8174,1.0000,0.4642,0.6428,0.6944,0.3056,-0.3888,-0.6826,...,0.1924,-0.1154,0.0192,0.2116,-0.0384,0.0192,-0.2308,-0.4230,-0.7116,'25'
7794,-0.6696,-0.3730,0.1584,0.8910,1.0000,0.9762,0.9762,0.7684,0.4106,0.0154,...,0.0910,0.1818,0.2000,0.1454,0.0182,-0.2910,0.0728,0.0728,-0.5818,'25'
7795,-0.5764,-0.1764,0.5106,0.3742,-0.1670,-0.5858,-0.7882,-0.7224,-0.6330,-0.8212,...,0.4130,0.5870,0.4348,0.5652,0.3478,-0.0434,0.3044,-0.0434,-0.5000,'26'
7796,-0.6624,-0.3334,0.3666,0.4292,-0.2084,-0.5374,-0.4542,-0.6208,-0.6376,-0.5042,...,0.2520,0.2846,0.4146,0.3170,0.2520,-0.0244,-0.0894,-0.1708,-0.3170,'26'

In [5]:
# Define a custom function to drop rows with missing values from a DataFrame
def drop_rows_with_missing_values(df):
    # Initialize an empty list to store rows without missing values
    cleaned_rows = []
    
    # Iterate through each row of the DataFrame
    for i in range(len(df)):
        # Check if the row has any missing values
        has_missing_values = False
        for j in range(len(df.columns)):
            if pd.isnull(df.iloc[i, j]):  # Check if the value is missing
                has_missing_values = True
                break  # Exit loop if a missing value is found
        
        # If the row has no missing values, add it to the cleaned rows list
        if not has_missing_values:
            cleaned_rows.append(df.iloc[i])
    
    # Concatenate the cleaned rows list into a new DataFrame
    cleaned_df = pd.concat(cleaned_rows, axis=1).transpose()
    
    return cleaned_df

# Sample DataFrame
# df = your_dataframe_here

# Drop rows with missing values
cleaned_df = drop_rows_with_missing_values(df)

# Print DataFrame after dropping rows with missing values
print(cleaned_df)

          f1      f2      f3      f4      f5      f6      f7      f8      f9  \
0    -0.4394     4.0     0.0   0.462  0.6226  0.4704  0.3578     0.0 -0.1184
1    -0.4348 -0.1198  0.2474  0.4036  0.5026  0.6328  0.4948  0.0338  -0.052
2     -0.233  0.2124     0.0  0.5222 -0.3422  -0.584 -0.7168 -0.6342 -0.8614
3    -0.3808 -0.0096  0.2602  0.2554  -0.429 -0.6746 -0.6868  -0.665  -0.841
4    -0.3412  0.0946  0.6082  0.6216 -0.1622     0.0 -0.4324 -0.4358 -0.4966
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
7792 -0.6842  -0.328 -0.1984  0.2956  0.8786  0.8948  0.3118  0.1822  0.1012
7793 -0.5912  -0.242  0.8174     1.0  0.4642  0.6428  0.6944  0.3056 -0.3888
7794 -0.6696  -0.373  0.1584   0.891     1.0  0.9762  0.9762  0.7684  0.4106
7795 -0.5764 -0.1764  0.5106  0.3742  -0.167 -0.5858 -0.7882 -0.7224  -0.633
7796 -0.6624 -0.3334  0.3666  0.4292 -0.2084 -0.5374 -0.4542 -0.6208 -0.6376

         f10  ...    f609    f610    f611    f612    f613    f614    f615  \
0     -0.231  ...  0.4102  0.2052  0.3846   0.359  0.5898  0.3334   0.641
1    -0.1302  ...     0.0  0.2954  0.2046  0.4772  0.0454  0.2046  0.4318
2    -0.8318  ... -0.1112 -0.0476 -0.1746  0.0318 -0.0476  0.1112   0.254
3    -0.9614  ... -0.0504  -0.036 -0.1224  0.1366   0.295  0.0792 -0.0072
4    -0.5406  ...  0.1562  0.3124    0.25 -0.0938  0.1562  0.3124  0.3124
...      ...  ...     ...     ...     ...     ...     ...     ...     ...
7792   0.174  ...  0.7738  0.7738  0.7142  0.6428  0.5952  0.5714  0.3928
7793 -0.6826  ...  0.1924 -0.1154  0.0192  0.2116 -0.0384  0.0192 -0.2308
7794  0.0154  ...   0.091  0.1818     0.2  0.1454  0.0182  -0.291  0.0728
7795 -0.8212  ...   0.413   0.587  0.4348  0.5652  0.3478 -0.0434  0.3044
7796 -0.5042  ...   0.252  0.2846  0.4146   0.317   0.252 -0.0244 -0.0894

        f616    f617 class
0     0.5898 -0.4872   '1'
1     0.4546  -0.091   '1'
2     0.1588 -0.4762   '2'
3     0.0936  -0.151   '2'
4     0.2188   -0.25   '3'
...      ...     ...   ...
7792  0.4286  0.2858  '24'
7793  -0.423 -0.7116  '25'
7794  0.0728 -0.5818  '25'
7795 -0.0434    -0.5  '26'
7796 -0.1708  -0.317  '26'

[7797 rows x 618 columns]

In [ ]:
df

In [ ]:
def calculate_mean(data):
    total = 0
    count = 0
    for value in data:
        if not pd.isnull(value):  # Exclude missing values from calculation
            total += value
            count += 1
            mean=total / count if count > 0 else 0
    return mean

# Custom function to fill missing values with column means, excluding the last column
def fill_missing_with_means(df):
    for column in df.columns[:-1]:  # Exclude the last column (assuming it contains class labels)
        # Extract non-null values for the current column
        non_null_values = [value for value in df[column] if not pd.isnull(value)]
        # Calculate the mean of non-null values
        column_mean = calculate_mean(non_null_values)
        # Replace missing values in the column with the calculated mean
        for i in range(len(df[column])):
            if pd.isnull(df[column][i]):
                df[column][i] = column_mean
    return df

# Sample DataFrame
# df = your_dataframe_here

# Fill missing values with column means, excluding the last column
df2 = fill_missing_with_means(df)

In [ ]:
df

In [2]:
# Custom function to calculate the minimum value of a list
def calculate_min(data):
    min_val = float('inf')  # Initialize with positive infinity
    for value in data:
        if not pd.isnull(value):  # Exclude missing values from calculation
            if value < min_val:
                min_val = value
    return min_val

# Custom function to fill missing values with column minimums, excluding the last column
def fill_missing_with_min(df):
    for column in df.columns[:-1]:  # Exclude the last column (assuming it contains class labels)
        # Extract non-null values for the current column
        non_null_values = [value for value in df[column] if not pd.isnull(value)]
        # Calculate the minimum value of non-null values
        column_min = calculate_min(non_null_values)
        # Replace missing values in the column with the calculated minimum
        for i in range(len(df[column])):
            if pd.isnull(df[column][i]):
                df[column][i] = column_min
    return df

# Sample DataFrame
# df = your_dataframe_here

# Fill missing values with column minimums, excluding the last column
df3 = fill_missing_with_min(df)

C:\Users\User\AppData\Local\Temp/ipykernel_9144/2317851420.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[column][i] = column_min

In [ ]:
# handling duplicates and filling missing value final code

In [ ]:
duplicates = df[df.duplicated()]
print(duplicates)

In [ ]:
import numpy as np
import pandas as pd

# Example data
data = pd.read_csv("numeric.csv")

# Separate features and class label
features = data.iloc[:, :-1].apply(pd.to_numeric, errors='coerce')
class_label = data.iloc[:, -1]

# 1. Handling missing values
def handle_missing_values(features):
    # Calculate column-wise means excluding NaN values
    column_means = {}
    for column in features:
        values = [float(value) for value in features[column] if not pd.isna(value)]
        if values:
            column_means[column] = np.mean(values)
        else:
            # If all values in the column are NaN, fill with 0
            column_means[column] = 0

    # Replace NaN values with the mean of the respective column
    for column in features:
        features[column].fillna(column_means[column], inplace=True)
   
    return features

# 2. Remove duplicates
def remove_duplicates(features):
    # Check for duplicates
    if features.duplicated().any():
        print("Duplicates found and will be removed.")
        features = features.drop_duplicates()
    else:
        print("No duplicates found.")
    return features

# Apply handling missing values
features = handle_missing_values(features)
print("Data after handling missing values:")
print(features)

# Apply duplicate removal
features = remove_duplicates(features)
print("Data after removing duplicates:")
print(features)

# Also remove the corresponding rows from the class label
class_label_no_duplicates = class_label.loc[features.index]

# Reattach the class label
final_data = pd.concat([features, class_label_no_duplicates.reset_index(drop=True)], axis=1)
print("Final data with class label:")
print(final_data)